### <span style=color:red><b>Sprint 6</b></span>

### <span style=color:blue><b>Nivell 1</b></span> 
- [X] __Exercici 1:__
Agafa un conjunt de dades de tema esportiu que t'agradi i selecciona un atribut del conjunt de dades. Calcula la moda, la mediana, la desviació estàndard i la mitjana aritmètica.
- [X] __Exercici 2:__
Continuant amb les dades de tema esportiu, selecciona dos atributs i calcula'n la seva correlació.

In [2]:
import pandas as pd
import numpy as np
import random

db = pd.read_csv('Match.csv')
db_1 = db[['match_minutes']].copy()
db_1.dropna
db_1.info()
db_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10160 entries, 0 to 10159
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_minutes  10117 non-null  float64
dtypes: float64(1)
memory usage: 79.5 KB

       match_minutes
count   10117.000000
mean      142.343284
std        52.397425
min         0.000000
25%       108.000000
50%       138.000000
75%       176.000000
max       665.000000

In [3]:
print(db_1.value_counts())

match_minutes
0.0              255
111.0            107
118.0            107
116.0            104
110.0            102
                ...
289.0              1
16.0               1
292.0              1
13.0               1
665.0              1
Length: 305, dtype: int64

Al darme cuenta de que había muchos partidos de 0 minutos, decidí eliminarlos de la base de datos para tener una idea real de los partidos.

In [4]:
db_2 = db_1.drop(db_1[db_1['match_minutes']==0.0].index)

_______

## __Ejercicio 1__

__Para la moda hacemos lo siguiente:__

In [6]:
print('La moda del tiempo en minutos de los partidos es:\n')
db_2['match_minutes'].mode()

La moda del tiempo en minutos de los partidos es:

0    111.0
1    118.0
dtype: float64

__Para la mediana hacemos lo siguiente:__

In [7]:
print('La mediana del tiempo de los partidos es: ', db_2['match_minutes'].median(), 'minutos.')

La mediana del tiempo de los partidos es:  139.0 minutos.

__Para la desviación estándar hacemos lo siguiente:__

In [9]:
print('La desviación estándar del tiempo de los partidos es: ', round(db_2['match_minutes'].std(),2))

La desviación estándar del tiempo de los partidos es:  47.74

__Para la media aritmética hacemos lo siguiente:__

In [10]:
print('La media aritmética del tiempo en minutos de los partidos es: ', round(db_2['match_minutes'].mean(),2), 'minutos.')

La media aritmética del tiempo en minutos de los partidos es:  146.02 minutos.

_______

## __Ejercicio 2__

In [11]:
db_3 = db[['avg_minutes_game','avg_minutes_set']].copy()
db_3.dropna
print(db_3.sample(5))
db_3.describe()

      avg_minutes_game  avg_minutes_set
4378              3.88             31.0
813               4.73             47.3
6016              4.53             45.3
5781              3.71             31.5
8800              4.71             48.3

       avg_minutes_game  avg_minutes_set
count      10114.000000     10078.000000
mean           4.058700        39.223477
std            0.890068        10.129553
min            0.000000         0.000000
25%            3.730000        34.400000
50%            4.110000        39.300000
75%            4.500000        44.700000
max           21.500000       133.000000

In [12]:
print('La correlación entre las medias de los minutos de juego y sets es:')
db_3.corr(method='pearson')

La correlación entre las medias de los minutos de juego y sets es:

                  avg_minutes_game  avg_minutes_set
avg_minutes_game          1.000000         0.867337
avg_minutes_set           0.867337         1.000000

*******

### <span style=color:blue><b>Nivell 2</b></span> 
- [ ] __Exercici 3:__
Continuant amb les dades de tema esportiu, calcula la correlació de tots els atributs entre sí i representa'ls en una matriu amb diferents colors d'intensitat.

### <span style=color:blue><b>Nivell 3</b></span> 
- [ ] __Exercici 4:__
Continuant amb les dades de tema esportiu, selecciona un atribut i calcula la mitjana geomètrica i la mitjana harmònica.